article{
    margin-top: 50px;
    margin-left: 50px;
}

.card{
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
    border: 3px solid transparent;
    border-image-slice: 1;
    animation: rotateBorderColor 3s linear infinite;
}

@keyframes rotateBorderColor {
    0% {
      border-image-source: linear-gradient(90deg, #ee00ff, #9465d6,transparent,transparent);
    }
    25%{
        border-image-source: linear-gradient(90deg, transparent,#ee00ff#9465d6,transparent);
    }
    50% {
      border-image-source: linear-gradient(90deg, transparent,transparent,#ee00ff,#9465d6);
    }
    75%{
        border-image-source: linear-gradient(90deg, #9465d6,transparent,transparent,#ee00ff);
    }
    100%{
        border-image-source: linear-gradient(90deg, #ee00ff, #9465d6,transparent,transparent);
    }
  }

.description{
    width: 500px;
    backdrop-filter: blur(12px);
    padding: 30PX;
}
img#pre-built{
    width: 700px;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.description a{
    text-decoration: none;
    margin-left: 100px;
    border-radius: 15px;
    padding: 10px 40px 10px 40px ;
    font-size: 20px;
    transition: 0.3s ease;
    color: black;
    background-color: white;
}

.description a:hover{
    background-color: blueviolet;
    color: white;
}

img#pre-built:hover,img#pre-built:focus{
    transform: scale(1.05);
    cursor: zoom-in;
    outline: none;
}